/* FONTS */
@font-face {
    font-family: 'NexaRustSlab';
    src: url('../fonts/NexaRustSlab-BlackShadow.otf');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Chunkfive';
    src: url('../fonts/Chunkfive.otf');
    font-weight: normal;
    font-style: normal;
	}
/* Layout */

/*
.ui-content.gallery{
	padding-left: 0;
	padding-right: 0;	
	}
*/
body, .ui-page, .ui-body, ui-mobile-viewport, ui-overlay-c{
	background: none;
	background-color: #36363a;
	}
.ui-screen-hidden{
	display: none !important;
	}
.ui-header{
	border-bottom: solid 1px rgba(240,240,240,1);
	}
#page-wrapper{
	background: none;
	}
h3.stop-title,
h3.tour-title{
	padding: 1rem 0 1rem 0;
	margin: 0 0 1rem 0;
	font-family: 'Alfa Slab One', 'Georgia', cursive;
	letter-spacing: 0.05rem;
	font-size: 1.9rem;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	color: rgba(230,230,230,1);
	text-shadow: 3px 3px 0px rgba(0,0,0,1);
	
	font-family: 'Roboto Slab', 'Alfa Slab One', 'Georgia', cursive;
	font-weight: 700;
	letter-spacing: normal;
	font-size: 2.1rem;
	font-variant: small-caps;
	}
h3.tour-title{
	text-align: center;
	font-size: 2.5rem;
	}
#tour-details p{
	color: rgba(255,255,255,1);
	text-shadow: none;
	text-align: center;
	}
/* List elements */
#tour-list ul,
#tour-list ul li{
	background: none;
	}
.tour-title span{
	display: none;
	}
.tour-title{
	background: none !important;
	}
.tour-title:after{
	content: "Begin tour";
	display: block;
	margin-top: 4rem;
	background: none;
	font-family: 'Roboto Slab', 'Alfa Slab One', 'Georgia', cursive;
	font-size: 1.5rem;
	text-align: center;
	}
#tour-details .tour-title{
	display: none;
	}
#tour-details #header-wrapper img,
.tour-wrapper .tour-image img{
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 2rem;
	}
.tour-wrapper .tour-image{
	text-align: center;
	margin: 0 auto;
	}
a#start-tour{
	max-width: 450px;
	margin: 0 auto;
	margin-top: 2rem;
	font-family: 'Roboto Slab', 'Alfa Slab One', 'Georgia', cursive;
	padding-bottom: 0.25rem;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.85);
	}
a#start-tour span{
	font-size: 1.35rem;
	}
#tour-stop-list ul.ui-listview .ui-btn-text{
	height: auto;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	}
#tour-stop-list ul.ui-listview,
#tour-stop-list ul.ui-listview li{
	background: none;
	height: auto;
	max-height: none;
	transition: 0.2s background ease-in-out;
	font-family: 'Roboto Slab', 'Alfa Slab One', 'Georgia', cursive;
	font-weight: 300;
	font-size: 1.75rem;
	}
#tour-stop-list ul.ui-listview li:hover{
	background: rgba(40,40,40,1);
	transition: 0.2s background ease-in-out;
	}
.ui-li-icon,
.ui-li-thumb
{
	display: none;
	}
ul.ui-listview li a{
	font-size: 1rem;
	color: white !important;
	text-shadow: none;
	}
ul.ui-listview li span{
	margin: 0;
	}
/* SMALL ONLY SCREENS */

@media only screen and (max-width: 50.063em) {
	#gallery.ui-grid-b li{
		display: block;
		float: none;
		width: 90%;
		max-width: 535px;
		margin: 0 auto;
		margin-bottom: 1.2rem;
		padding-bottom: 1.2rem;
		border-bottom: solid 1px rgba(255,255,255,0.45);
		}
	#gallery.ui-grid-b li:last-of-type{
		border-bottom: none;
		}
}

/* MEDIUM AND LARGER SCREENS */
@media only screen and (min-width: 50.063em) {
	h3.stop-title{
		font-size: 2.2rem;
		}
	#tour-stop-list ul.ui-listview li a{
		font-size: 1.2rem;
		}
	.ui-content{
		overflow: visible;
		}
	#tour-details #header-wrapper{
		text-align: center;
		}
	#tour-stop-list ul.ui-listview{
		display: inline-block;
		position: relative;
		top: 2rem;
		padding-left: 1rem;
		}
	#tour-stop-list ul.ui-listview .ui-btn-text{
		padding-top: 1rem;
		padding-bottom: 1rem;
		}
	#tour-stop-list ul.ui-listview li{
		display: inline-block;
		width: 180px;
		height: 180px;
		padding: 0;
		margin: 0 !important;
		margin-bottom: 1rem !important;
		margin-right: 1rem !important;
		vertical-align: top;
		border: solid 1px white;
		}
	.ui-btn-text{
		margin-top: 1.4rem;
		}
	#tour-stop-list ul.ui-listview li a,
	#tour-stop-list ul.ui-listview li a span,
	#tour-stop-list .ui-btn-inner.ui-li{
		height: auto;
		width: auto;
		overflow: visible;
		text-overflow: clip;
		display: block;
		margin: 0;
		padding: 0;
		white-space: normal;
		}
	#tour-stop-list ul.ui-listview li a{
		padding: 0 1.5rem 0 0.95rem;
		}
	#tour-stop-list ul.ui-listview li a{
		display: block;
		}	
}